<!-- <div class="d-flex justify-content-center align-items-center"> -->
    <mat-card class="form-card">
      <div class="page-header d-flex justify-content-center">
        <h4>Get started</h4>
      </div>
      <div class="d-flex justify-content-center">
          <a mat-raised-button color="accent">
              Signup
          </a>
      </div>

      <hr/>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-container">
          <mat-form-field>
            <input matInput 
                    placeholder="Your Email" 
                    type="email"
                    ngModel name="email"
                    email
                    required>
                    <mat-error>Email is invalid.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput 
                    placeholder="Your Password" 
                    type="password"
                    ngModel name="password"
                    required
                    minlength="6"
                    #pwInput="ngModel">
          </mat-form-field>

        </div>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary"
                  type="submit"
                  [disabled]="f.invalid">
                    Login
          </button>
        </div>
      </form>
    </mat-card>
  <!-- </div> -->