*[mat-button] {
    margin: 0 3px;
}
.checkbox {
    padding-top: 6px;
}
mat-checkbox {
    font-size: 14px;
}
.full-width {
    width: 100%;
}

.row {
    margin-bottom: 12px;
}

.form-card {
    margin-top: 24px;
    padding-top: 24px;
    padding-left: 36px;
    padding-right: 36px;
}
.notes-area {
    height: 120px;
}

mat-form-field {
    margin-right: 6px;
}

.shared-with {
    margin-top: 12px;
}

.bill-title {
    font-size: 30px;
    font-weight: 500;
}
.bill-header {
    margin-bottom: 12px;
}
.bill-key-info {
    text-align: right;
    font-size: 24px;
}
.bill-amount {
    font-weight: 500;
}
.bill-due-date {
    margin-right: 24px;
}
.bill-notes {
    padding: 12px 0;
}