
  <div class="page-header">
    <h2>Create Bill</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Name"
                  type="text" 
                  id="name" 
                  name="name" ngModel required>
            </mat-form-field> 
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input 
                matInput
                placeholder="Amount"
                id="amount" 
                name="amount" [ngModel]="amount"
                (blur)="onBlur(f.value.amount)">
              <span matPrefix>$&nbsp;</span> 
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput 
                [matDatepicker]="picker" 
                placeholder="Due date (if any)"
                name="due_date" ngModel>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <mat-checkbox (change)="onRepeatChecked($event)"
                            [labelPosition]="'before'"
                            class="align-self-end">
                      Is this a repeating bill?
              </mat-checkbox>    
          </div>
        </div>
        <div *ngIf="isRepeating" class="row">
          <div class="col-md-6">
              <mat-form-field class="full-width">
                  <mat-label>Set repeat by</mat-label>
                  <mat-select #period
                             [value]="default.period"
                             (selectionChange)="onPeriodSelect(period.value)"
                              disableOptionCentering>
                    <mat-option *ngFor="let period of periods" [value]="period">
                      {{period}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field *ngIf="selectedPeriod === 'month' || selectedPeriod === 'week'" class="full-width">
                <input #mfilter
                      type="text"
                      placeholder="Repeat on day" 
                      aria-label="Day of Repeat" 
                      matInput [matAutocomplete]="auto"
                      name="day_repeat"
                      ngModel
                      (keyup)="onKeyUpFilter(mfilter.value, selectedPeriod)">
                <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let day of filterMap[selectedPeriod]" [value]="day">
                  {{day}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field *ngIf="selectedPeriod === 'year'" class="full-width">
                <input matInput 
                  [matDatepicker]="rpicker" 
                  placeholder="Repeat on date"
                  name="repeat_on_date" ngModel>
                <mat-datepicker-toggle matSuffix [for]="rpicker"></mat-datepicker-toggle>
                <mat-datepicker #rpicker></mat-datepicker>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-end">
              <button mat-raised-button 
                      color="primary"
                      type="submit" 
                      [disabled]="!f.valid">
                        Create
              </button>
              <button mat-stroked-button
                type="button" (click)="onClear()">Clear</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>