<div class="page-header d-flex align-items-center justify-content-between">
    <h2>Bills</h2>
    <a routerLink="./new" mat-raised-button color="accent">Add new bill</a>
</div>

<div class="row">
  <div class="col-md-7">
      <mat-card class="bill-card mat-elevation-z3" *ngFor="let bill of bills" [ngClass]="{'bill-account': bill.account_id}">
          <div class="bill-header d-flex justify-content-between align-items-center">
            <div class="bill-title">{{bill.name}}</div>
            <div class=bill-key-info>
              <span class="bill-due-date">{{transformDueDate(bill) | date}}</span>
              <span class="bill-amount">{{bill.amount | currency}}</span>
            </div>
          </div>
          <hr/>
          <div class="d-flex justify-content-between">
              <div class="bill-notes">{{ bill.notes }}</div>
          </div>
          <!-- <hr/> -->
          <div class="bill-toolbar d-flex justify-content-end">
              <a mat-button (click)="onPay(bill)" color="accent">Pay</a>
              <a mat-button (click)="navigateToBillView(bill)" color="primary">View</a>
          </div>
      </mat-card>
  </div>
  
  <div class="col-md-5">
    <div class="accounts">
      <h4>Summary</h4>
      <div class="summary">
        <mat-chip-list>
          <div class="chip">
              <span class="small">monthly</span> 
              <mat-chip color="primary" selected>{{sumPerMonth | currency}}</mat-chip>
          </div>
            <div class="chip">
                <span class="small">yearly</span>
                <mat-chip color="accent" selected>{{sumPerYear | currency}}</mat-chip>
            </div>
          </mat-chip-list>
      </div>
    </div>
    <div class="accounts">
      <h4>Accounts</h4>
      <mat-card class="mat-elevation-z3" *ngFor="let acct of accounts">
        <div class="d-flex justify-content-between">
            {{acct.name}}
            <div>
              {{acct.bills[0].amount | currency}} <span class="small">monthly</span>
            </div>
        </div>
      </mat-card>
  </div>
</div>