<div class="page-header d-flex align-items-center justify-content-between">
    <h2>Bills</h2>
    <a routerLink="./new" mat-raised-button color="primary">Add new bill</a>
</div>

<div class="row">
  <div class="col-md-7">
      <mat-card class="mat-elevation-z3" *ngFor="let bill of bills">
          <div class="bill-header d-flex justify-content-between">
            <div class="bill-title">{{bill.name}}</div>
            <div>{{bill.amount | currency}}</div>
          </div>
          
          
          <div>This is some text describing the bill</div>
          <div class="d-flex justify-content-end">
            <div class="bill-due-date">{{transformDueDate(bill) | date}}</div>
          </div>
      </mat-card>
  </div>
  
  <div class="col-md-5">
    <div class="accounts">
      <h4>Accounts</h4>
      <mat-card class="mat-elevation-z3" *ngFor="let acct of accounts">
        {{acct.name}}
        <!-- <mat-card-header>
          <mat-card-title>{{acct.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content> -->
      </mat-card>
  </div>
</div>