.card {
    margin-bottom: 12px;
}
mat-card {
    margin-bottom: 12px;
}
/* 
mat-card p {
    padding-left: 16px
} */

.accounts {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 6px;
}

.accounts mat-card {
    border-radius: 6px 0;
    /* color: #ffffff; */
    /* background-color: #0d47a1; */
    border: 1px solid #f8bbd0;
}

.bill-title {
    font-size: 20px;
    font-weight: 500;
}
.bill-header {
    margin-bottom: 12px;
}

.bill-due-date {

}