<mat-toolbar color="primary">
  <a class="logo" routerLink="/">bill.it</a>
  <a *ngIf="isAuth" mat-button routerLink="/bills" routerLinkActive="active">My Bills</a>
  <a *ngIf="isAuth" mat-button routerLink="/accounts" routerLinkActive="active">Accounts</a>
  <a *ngIf="isAuth" mat-button routerLink="/payments" routerLinkActive="active">Payments</a>
  <a *ngIf="isAuth" mat-button routerLink="/friends" routerLinkActive="active">Friends</a>
  <span class="spacer"></span>

  <button *ngIf="isAuth" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>My profile</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>close</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
</mat-toolbar>
